h1 {
    text-align: center;
}

form {
    text-align: center;
}

a,
a:visited {
    color: blue;
}

h3 {
    text-align: center;
}

.sign_in_button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.centered-a {
    text-align: center;
    display: block;
}