table {
    margin: auto;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
    width: fit-content;
}

.table-container {
    margin: auto;
    text-align: center;
}

nav {
    margin: auto;
    text-align: center;
}